- if @favorite_list.movies.count > 0
  %h2 Favorite List
  .row
    = render partial: 'movies/movies', locals: { movies: @favorite_list.movies }

%h2 Popular
.row
  = render partial: 'movies/movies', locals: { movies: @popular_movies }

%h2 Top Rated
.row
  = render partial: 'movies/movies', locals: { movies: @top_movies }
